body {
  font-family: "Arimo", sans-serif;
  font-family: "Bricolage Grotesque", sans-serif;
  background-color: #002050;
  color:#002050;
}

.app-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.app-wrapper footer {
  display: block;
  padding-top: 10px;
}
